* {
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    /*font-size: 0;*/
}
h1 {
    font-size: 5vh;
}
article {
    display: block;
    height: 100vh;
}
#yandex-metrics-img {
    margin: 0 auto;
    margin-top: 40vh;
    width: 176px;
    height: 61px; 
    border: 2px solid red;
}
