* {
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    font-size: 0;
}
h1 {
    font-size: 5vh;
}
article {
    display: block;
    height: 100vh;
}

#yandex-metrics {
    display: inline-block;
    font-size: 5vh;
    background: red;
    /*width: 30%;*/
    /*height: 10vh;*/
    margin: 0 auto;
    margin-top: 40vh;
}
#yandex-metrics-img {
    width:176px;
    height:61px; 
    border:0;
}